@page "/authorization"

@using MongoDB;

<h3>Authorization</h3>
<div>
    <link rel="stylesheet" href=~/css/site.css />

    <div class="user">
        @if (isLogged = true)
        {
            <h3>@name</h3>
        }
    </div>

    <div class="authorization">
        <div class="login">
            <p>Введите логин: <input @bind-value="@login" /></p>
        </div>

        <div class="password">
            <p>Введите пароль: <input @bind-value="@password" /></p>
        </div>

        <button class="logButton" @onclick="isUser">Войти</button>
    </div>

    @code {
        private string login = "";
        private string password = "";
        private bool isLogged = false;
        private string name = "";

        public void isUser() 
        {
            User user = MongoDB.Database.FindByName(login, password);
            if (login == user.Login && password == user.Password) 
            {
                isLogged = true;
            }
            name = user.Name;
            
        }
    }
</div>

