@page "/authorization"

@using MongoDB;

<h3>Authorization</h3>

<div>
    <link rel="stylesheet" href=~/css/site.css />

    <div class="authorization">
        <div class="login">
            <p>Введите логин: <input @bind-value="@login" /></p>
        </div>

        <div class="password">
            <p>Введите пароль: <input @bind-value="@password" /></p>
        </div>

        <button class="saveButton" @onclick="isUser">Войти</button>
    </div>

    @code {
        private string login = "";
        private string password = "";

        public void isUser() 
        {
            User user = MongoDB.Database.FindByName(login, password);

            if (user.Login == login && user.Password == password) 
            {
                login = "Nice";
            }
        }
    }
</div>

